extends layout

block content
  .game-details-container
    .overlay
    .game-info 
      h2.game-title= game.name 
      p.release-date Release Date: #{game.released}
      p.publisher Publishers: #{publishers}
      
      p.metascore Metascore:  #{game.metacritic ? game.metacritic : "Not available"}

      p.genres Genres: 
      ul.genres 
        each genre in game.genres 
          li= genre.name 

      .esrb
        .esrb-rating
          p.esrb-title ESRB Rating:
          if game.esrb_rating 
            p= game.esrb_rating.name 
          else 
            p Not Rated 

      p.description 
        | Description: 
        if game.description_raw 
          p= game.description_raw.split('Español')[0].trim() 

      p Platforms: 
      .platforms-box 
        each platform in game.platforms 
          .platform-box
            p= platform.platform.name 
      
      button(type="button", id="add-to-recently-played", data-game-id=game.id) Add to Recently Played
      button(type="button", id="add-to-favorites", data-game-id=game.id) Add to Favorites


    
    .game-box-art 
      img(src=boxArtImageUrl, alt=game.name)

  h2 Deals 
  if deals
    .deals-container 
      each deal in deals
        a(href=`https://www.cheapshark.com/redirect?dealID=${deal.dealID}` target="_blank" class="deal-link")
          .deal-card 
            img(src=`https://www.cheapshark.com/img/stores/logos/${deal.storeID}.png`, alt=deal.storeName)
            h3 Sale Price: $#{deal.salePrice} 
            h4 Normal Price: $#{deal.normalPrice} 
            p Savings: #{Math.round(deal.savings)}%
  else 
    p No deals available for this game.
  
  a(href="/library") Back to Library

  script(src="/js/details.js")