extends layout 

block content 
    header 
        h2 Library
        p Explore your favourite games 
    main.container 
        .game-grid
          each game in games
            .game-card 
              a(href=`/library/game/${game.id}`)
                if game.imageUrl 
                  img(src=game.imageUrl alt=`Cover image for ${game.name}` width="200" height="300")
                else 
                  div.no-cover-message No cover image found 
            div.game-details
              h2.game-title= game.name
              p.release-date= `Release Date: ${game.released || 'Unknown'}`

